<!DOCTYPE html>
<html>
<head>
	<title>Liste des instruments de musique</title>
	<!-- Chargement de Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 style="text-align: center;">Liste des instruments</h1>
    <h1 style="text-align: center;"> de musique</h1>
		<div class="row">
			<div class="col-md-4">
				<ul class="list-unstyled">
					<li>
						<img src="assets/guitare.jpg" alt="Guitare" width="140">
						<h4>Guitare</h4>
						<p>La guitare est un instrument de musique à cordes pincées. Elle est utilisée dans de nombreux genres musicaux,  etc.</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
					<li>
						<img src="assets/piano.avif" alt="Piano" width="300">
						<h4>Piano</h4>
						<p>Le piano est un instrument de musique à clavier. Il est utilisé dans de nombreux genres musicaux, etc.</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
                   
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-unstyled">
					<li>
						<img src="assets/batterie.jpg" alt="Batterie" width="300">
						<h4>Batterie</h4>
						<p>La batterie est un instrument de musique à percussion. Elle est utilisée dans de nombreux genres musicaux, tels que le rock, le jazz, le métal, etc.</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
					<li>
						<img src="assets/harpe.jpg" alt="Saxophone" width="200" height="150">
						<h4>Harpe</h4>
						<p>C’est un instrument qui vous permet de jouer toutes les gammes. On l’utilise surtout pour exécuter une douce mélodie. Son timbre peut changer etc .</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
				</ul>
			</div>
            <div class="col-md-4">
				<ul class="list-unstyled">
					<li>
						<img src="assets/Old_violin.jpg" alt="Batterie" width="200">
						<h4>Violon</h4>
						<p>Le violon est un instrument de musique à cordes frottées. Constitué de 71 pièces de bois</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
					<li>
						<img src="assets/saxophone.jpg" alt="Saxophone" width="200">
						<h4>Saxophone</h4>
						<p>Le saxophone est un instrument de musique à vent. Il est utilisé dans de nombreux genres musicaux, tels que le jazz, le blues, la pop, etc.</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</li>
				</ul>
 

			</div>
			<!-- Ajouter deux autres colonnes pour afficher quatre images par ligne -->
		</div>
	</div>


